/* Custom response */
.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.w-full {
  width: 100% !important;
}

.l-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.l-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.l-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}

.l-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.l-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.l-4-8 {
  flex: 0 0 40%;
  max-width: 40%;
}

.l-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.l-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.l-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.l-7-2 {
  flex: 0 0 60%;
  max-width: 60%;
}

.l-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.l-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.l-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.l-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.l-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Custom align */
.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/* Custom padding */
.p-r-6 {
  padding-right: 6px;
}

.p-r-8 {
  padding-right: 8px;
}

.p-r-12 {
  padding-right: 12px;
}

.p-r-16 {
  padding-right: 16px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-r-26 {
  padding-right: 26px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-12 {
  padding-left: 12px;
}

/* Custom margin */

.m-l-6 {
  margin-left: 6px;
}

.m-r-6 {
  margin-right: 6px;
}

.m-r-8 {
  margin-right: 8px;
}
.m-t-8 {
  margin-top: 8px;
}

.m-t-12 {
  margin-top: 12px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-b-12 {
  margin-bottom: 12px;
}

.m-r-12 {
  margin-right: 12px;
}

.m-r-20 {
  margin-right: 20px;
}
